html {
	height: 100%;
}

body {
	height: 100%;
	background: url("bg.jpeg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	overflow-y: hidden;
}

form {
	text-align: center;
	padding-top: 20vw;
}

label {
	color: white;
	font-size: 2rem;
	font-family: "Press Start 2P", cursive;
	display: block;
}

input {
	margin-top: 1.5rem;
	width: 20rem;
	height: 2rem;
	font-size: 1rem;
	font-family: "Press Start 2P", cursive;
	text-align: center;
	display: inline-block;
}

button {
	width: 15rem;
	height: 2rem;
	font-size: 1rem;
	font-family: "Press Start 2P", cursive;
	color: blue;
	background: white;
	display: inline-block;
	cursor: pointer;
}

input#username,
button#reset-btn {
	display: none;
}
